
!.mvn/wrapper/maven-wrapper.jar
*.iml
*.ipr
*.iws
.apt_generated
.classpath
.factorypath
.gradle/
.idea
.idea/
.project
.settings
.springBeans
.sts4-cache
.vscode/
/.nb-gradle/
/build/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
/target/
bin
build/
out/
target/
workshop/delta_configs
